<div class="container">
  <div *ngFor="let famedUser of famedUsers; let i = index">
    <div *ngIf="i < 5">
      <mat-card class="person-card recent-flex-item-0">
        <mat-card-title
          >{{ famedUser.firstName }} {{ famedUser.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ famedUser.los }}</mat-card-subtitle>
        <img
          mat-card-image
          src="https://placekitten.com/420/320?image={{ i + 1 }}

          "
          alt="Photo of {{ famedUser.firstName }}"
        />
        <mat-card-content>
          <!-- <button mat-flat-button color="primary" (click)="viewDetails()">
            I Know Them!
          </button> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
